.form-label{
    font-size: 26px;
    display: flex;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}
#text{
    display: flex;
    margin-left: 10vw;
    width: 75vw;
}
#upper,  #copy,#lower, #rem, #remove, #pswd{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
    margin-left: 1vw;
    margin-top: 20px;
}

#upper:hover,  #copy:hover,#lower:hover, #rem:hover, #remove:hover, #pswd:hover{
    background-color: white;
    color: black;
}
.right{
    display: flex;
    flex-direction: column;
    float: right;
}
.left{
    display: flex;
    flex-direction: column;
    float: left;
}
@media screen and (min-width: 875px){
    #upper,  #copy,#lower, #rem, #remove, #pswd{
        margin-left: 10vw;
    }
}
#details{
    margin-top: 200px;
  }
  .form-check-label{
    margin-right: 20px;
  }